:root {
    --primary-b: #633526;
    --primary-b-2: #633526;
    --primary-l: #8a5543;
    --primary-x-l: #a7725f;
    --primary-g-x: linear-gradient(to left, var(--primary-l), 50%, var(--primary-b));
    --primary-g-x-l: linear-gradient(to bottom, var(--primary-x-l), 80%, var(--primary-b));
    --color-nav: white;
    --btn-primary-b: #A7081C;
    --btn-primary-l: #eb5d70;
    /* --btn-primary-x-l: #eb5d70; */
}